name: Run Tests
on:
  push:
    branches: ["master"]
permissions:
  contents: read
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: false
      - uses: golangci/golangci-lint-action@v8
        continue-on-error: true
        with:
          args: --verbose --config .github/workflows/golang-lint.json
  test:
    strategy:
      max-parallel: 16
      matrix:
        os: [macos, ubuntu,windows]
        go: ["1.24"]
        include:
          - os: macos
            gopath: /Users/runner/go
            gocache: /Users/runner/Library/Caches/go-build
          - os: ubuntu
            gopath: /home/runner/go
            gocache: /home/runner/.cache/go-build
          - os: windows
            gopath: C:\Users\runneradmin\go
            gocache: C:\Users\runneradmin\AppData\Local\go-build
    name: ${{ matrix.os }} @ Go ${{ matrix.go }}
    runs-on: ${{ matrix.os }}-latest
    env:
      GO111MODULE: on
      GOPATH: ${{ matrix.gopath }}
      CGO_ENABLED: 1
      PACKAGES: github.com/eudore/eudore,github.com/eudore/eudore/middleware
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}
          cache-dependency-path: go.mod
      - uses: actions/cache@v5
        with:
          key: ${{ runner.os }}-go${{ matrix.go }}-${{ hashFiles('go.mod') }}
          restore-keys: ${{ runner.os }}-go-
          path: |
            ${{ matrix.gopath }}
            ${{ matrix.gocache }}
      - name: Run move
        run: mv _example/*_test.go .
      - name: Run Go Get
        run: go mod tidy
      - name: Run Bench
        run: go test -run='^$' -bench='.' .
      - name: Run Tests
        run: go test -v -timeout=1m -race -cover -coverprofile='coverage.out' -coverpkg='${{ env.PACKAGES }}' .
      - name: Run Notice
        run: go run _example/otherCover.go
      - name: Run Coverage
        if: matrix.go == '1.20'
        run: go tool cover -html coverage.out -o coverage.html
      - uses: codecov/codecov-action@v5
        if: matrix.go == '1.20'
        with:
          files: coverage.out
          flags: ${{ matrix.os }},go-${{ matrix.go }}
          token: ${{ secrets.CODECOV_TOKEN }}
      - uses: actions/upload-artifact@v6
        if: matrix.go == '1.20'
        with:
          name: Coverage-eudore-${{ github.ref_name }}-${{ matrix.os }}-${{ matrix.go }}
          path: coverage.html

























